body {
    background-color: #f5f8fa;
    
    font-style: normal;
    font-size: 14px;
    line-height: 1.6;
    min-height:100%; 
    position:relative; 
    padding-bottom: 50px; 
    border-color: #d3e0e9;
    
    

}

label {
    font-weight: 700;
}

html {
  height: 100%;
  margin: 0;
  
}


html, body {
    font-family: 'Alegreya','Raleway', sans-serif;
    font-weight: 600;
}

strong {
    font-weight: 800;
}


.bg {
    
    background-color: #009d57;
}


.nav-align-center {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
}

h2, .h2 {
    color: #80ba27;
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 1.25;
    margin: 20px 0;
}

h3, .h3 {
    font-size: 20px;
    letter-spacing: -0.5px;
    font-weight: bold;
}

h4, .h4 {
    font-size: 16px;
    text-align: left;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: tomato;
}

/* mouse over link */
a:hover {
    color: green;
}

/* selected link */
a:active {
    color: blue;
}

.jumbotron {
    background: #fff;
    border: 1px solid #ccc;
    margin-left: 15%;
    margin-right: 15%;
    padding: 19px 29px;
}

.page-title {
    text-align: center;
}

.row {
    padding-top: 1%;
    text-align: center;
}


.user-image {
    border-radius: 100%;
}

.rating {
    font-size: 	0.875rem;
    line-height: 25px;
    margin-bottom: 1%;
    color: grey;
}

.alert { 
    font-weight: bold; 
    font-style: italic; 
    color: red;
    
}


.product-description {
    text-align: left;
    margin-top: 1.5%;
    font-size: 14px;
}


blockquote, .blockquote {
    font-size: 0.875rem;
    
}

.site-location {
    /*margin-left: 16px;*/
    /*margin-right: 16px;*/
    margin-bottom: 1.6875rem;
}


.crud-button {
    margin-left: 15px;
    margin-bottom: 15px;
}

.submit {
    margin-bottom: 15px;
}


.delete-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#myBtn {
    /* display: none; Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 85px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: tomato; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/*.outer {*/
/*  overflow: hidden;*/
/*  position: relative;*/
/*}*/
/*.inner {*/
/*  position: absolute;*/
/*  height: 100px;*/
/*  width: 100px;*/
/*  right: -50px;*/
/*  top: 50px;*/
/*}*/

.answer {
    background-color: #f2f2f2;
    margin-top: 10px;
    padding: 8px 20px;
}

.pic {
    border: solid;
}

.detail {
    border: solid;
}

.review-detai {
    line-height: 1.5;
}
.rating {
    color: grey;
    font-weight: 600;
}

.product-review {
    border-top: 1px solid #e6e6e6;
    /*border-bottom: 1px solid #e6e6e6;*/
    padding: 20px 0;
}

@media (min-width: 320px) {

    
    
    .details, .brand {
        text-align: left;
        min-height: 240px;
    }
    
 
    
    .brand a {
        color: black;
        padding-left: 10px;
    }
    
    .brand li:hover {
        background-color: #009d57;
        list-style-position:inside;
        border: 1px solid #23A265;
        border-radius: 5px;
        text-decoration: none;

    }
    
    .brand li:hover a {
        color: white;
        text-decoration: none;

    }


    .reviews {
        border-left: 5px solid #80ba27;
        margin-left: -30px;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 14px;
    }
    
    .product-pics-thumbnail {
        width: auto;
        max-height: 165px;
}
 
    
}

@media (max-width: 319px) {
    .items {
        font-size: 5;
    }
    
    
}

.test {
    border: solid;
    
}

.footer { 
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
}

.edit-form {
    
    margin-left: auto;
    margin-right: auto;

}