.users {
  list-style: none;
  margin: 0;
  padding-left: 0;
  
}

.users li {
  overflow: auto;
  padding: 10px 0;
  border-bottom: 1px solid ;
  border-bottom-color: #d3d3d3;
}

.delete-btn {
  float: right;
  position: relative;
  right: 0;
}

.statuses {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.statuses li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    position: relative;
  }
  
.statuses .user {
    margin-top: 5em;
    padding-top: 0;
  }
  
.statuses .content {
    display: block;
    margin-left: 60px;
    word-break: break-word;
}

.statuses .content img {
      display: block;
      padding: 5px 0;
    }
    
.statuses .timestamp {
    color: grey;
    display: block;
    margin-left: 60px;
  }
  
.statuses .timestamp form button.status-delete-btn {
      position: absolute;
      right: 0;
      top: 10px;
    
}

aside textarea {
   
    height: 100px;
    margin-bottom: 5px;
  
}

.status_form {
  margin-top: 20px;
}